<h1>Menu categories</h1>

<%= form_with url: menu_categories_path, method: :post do |form| %>
  <label>Menu category: </label>
  <%= form.text_field :name, placeholder: "Ex: lunch" %>

  <label> Is Active </label>
  <%= check_box_tag :is_active, true %>

  <%= form.submit "Add category", class: "button primary-button"%>
<% end %>

<ul>
  <% @menu_categories.each do |menu_category| %>
      <li class="icon-container">
        <%= menu_category.id %> - <%= menu_category.name %> &nbsp;
        <small>
           (<%= menu_category.is_active ? "Active" : "Inactive" %>)
        </small>
        <%= link_to content_tag(:span, 'create', class: "material-icons"), "/menu_categories/#{menu_category.id}/edit" %>
      </li>

      <ul>
        <% menu_category.menu_items.each do |menu_item| %>
          <li class="icon-container">
            <%= menu_item.id%> - <%= menu_item.name%>
          </li>
        <% end %>
      </ul>

    </li>
  <% end %>
</ul>
