<div>
  <h2>
    <%= name%>
  </h2>

  <% items.each do |item| %>
    <div class="menu-item-card">
      <h2>
        <%= item.menu_item_name %>
      </h2>

      <p>
        Rs. <%= item.menu_item_price %> * <%= item.quantity %> = <b> <%= item.menu_item_price*item.quantity %></b>
      </p>

    </div>

  <% end %>

  <h3>
    Total: Rs. <%= total_amount%>
  </h3>

</div>
