<div class="orders">
  <% orders.each do |order| %>

    <p>
      <b><%= order.id%></b> -
      <%= order.is_delivered ? "Delivered" : "Pending" %> -
      Rs. <%= order.order_items.sum(:amount) %> -
      <small>
        <%= order.created_at.to_formatted_s(:short) %>
      </small>

    </p>

    <%= link_to "Order details",  "/orders/#{order.id}"%>

  <% end %>
</div>
