<div class="orders">
  <table class="my-1">
    <tr>
      <th>ID</th>

      <% if @current_user.role == "owner" %>
        <th>Customer name</th>
      <% end %>

      <th>Amount</th>
      <th>Status</th>
      <th> </th>
    </tr>

    <% orders.each do |order| %>
      <tr>
        <td>
          <%= order.id%>
        </td>

        <% if @current_user.role == "owner" %>
          <td>
            <%= order.user.name%>
          </td>
        <% end %>

        <td>
          Rs. <%= order.order_items.sum(:amount) %>
        </td>

        <td>
          <%= order.is_delivered ? "Delivered" : "Pending"%>
        </td>

        <td>
          <%= link_to "Order details",  "/orders/#{order.id}"%>
        </td>

      </tr>
    <% end %>

    </table>

</div>
