<h1>Menu Items</h1>

<%= form_with url: menu_items_path, method: :post do |form| %>
  <%= form.text_field :name, placeholder: "Enter item name", :required => true %>
  <%= form.text_field :description, placeholder: "Enter decription" %>
  <%= form.number_field :price, min: 1, placeholder: "Enter item price", :required => true %>

  <%= form.select "menu_categorie_id", options_from_collection_for_select(@menu_categories, :id, :name)  %>

  <%= form.submit "Add item", class: "button primary-button" %>
<% end %>

<table class="my-1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Category</th>
    <th> </th>
  </tr>

  <% @menu_items.each do |menu_item| %>
    <tr>
    <td>
      <%= menu_item.id%>
    </td>

    <td>
      <%= menu_item.name%>
    </td>

    <td>
      <%= menu_item.price%>
    </td>

    <td>
      <%= menu_item.menu_categorie.name%>
    </td>

    <td>
      <%= link_to content_tag(:span, 'edit', class: ""), "/menu_items/#{menu_item.id}/edit" %>
    </td>
  </tr>


  <% end %>

</table>
