<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManagementApp</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if @current_user%>
    <nav>
      <% if @current_user.role == "owner"%>
        <%= link_to :Users, users_path %>
        <%= link_to :"Menu", menu_categories_path %>
      <% end %>
      <%= link_to :Home, home_path %>
      <%= link_to :Checkout, cart_path %>
      <%= link_to :Orders, orders_path%>
      <%= link_to :Signout, destroy_session_path %>
    </nav>
  <% end %>


  <%if flash[:error]%>
    <p class="flash-error">
      <%= flash[:error]%>
    </p>
  <% end %>

   <%if flash[:success]%>
    <p class="flash-success">
      <%= flash[:success]%>
    </p>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
